*{
	margin: 0;
	border: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	background-color: #FFF0F5;
}
header{
	background-color: #2E8B57;
	color: #FFFFFF;
	font-family: arial;
	padding: 10px;
	width: 100%;
	text-shadow: 1px 1px 1px #000;
	}

.boas-vindas{
	font-size: 2.0rem;
	font-weight: bold;
	margin-left: 3%;
	margin-bottom: 5px;
}

h2{
	font-family: arial;
	text-align: left;
	padding-left: 3%;
}

h3{
	font-size: 3.0rem;
	font-family: arial;
	margin: 0;
	padding: 5px;
}
h4{
	font-size: 1.5rem;
	font-family: arial;
	margin: 0;
	padding-left: 5px;
	padding-bottom: 5px;
}
.container{
	display: block;
	background-color: #fff;
	width: 95%;
	box-shadow: 2px 2px #A9A9A9;
	margin: 0 auto;
	max-width: 90%;
	max-height: 90%;
	margin-bottom: 50px;
}
footer {
	background-color: #2E8B57;
	color: #FFFFFF;
	font-family: arial;
	text-align: center;
	padding: 10px;
	text-shadow: 1px 1px 1px #000;
}
p{	
	font-family: arial;
	padding: 10px;
	font-size: 1.6rem;
	text-align: justify;
}
h1{
	font-family: arial;
	color: #2E8B57 ;
	text-align: center;
	padding-top: 5px;
	font-size: 2.4rem;
	text-shadow: 1px 1px 1px #000;
}
.text-footer{
	text-align: center;
	padding: 5px;
	font-family: arial;
	font-size: 1.6rem;
}
.inscrever{
	background-color: #B3B6B7;
	width: 150px;
	height: 100px;
	position: fixed;
	right: 0;
	text-align: center;
	margin-top: 10%;
	z-index: 1;
}
h5{
	font-family: arial;
	text-align: center;
	padding: 1px;
	font-size: 1.9rem;
}
button{
	font-family: arial;
	text-align: center;
	padding: 8px;
	margin-top: 5px;
	font-size: 1.5rem;
	background-color: #2E8B57;
	border: solid;
	color: #fff;
	margin-left: 3%;
	margin-bottom: 1%;
	border-radius: 10px;
}
#grid-container{
	margin-top: 5px;
	background-color: #fff;
	padding: 5px;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1px;
	max-width: 100%;
	margin: 0auto;
}
.grid div{
	font-family: arial;
	text-align: center;
	font-size: 1.6rem;
	padding: 2px;
}
.formulario-contato{
	font-family: arial;
	font-size: 1.6rem;
	text-align: left;
	margin-left: 5%;
	padding: 10px;

}
input{
	font-family: sans-serif;
	font-size: 1.8rem;
	border: solid;
	border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 8px;
	width: 25%;
}
.caixa-dados-formulario{
	width: 50%;
}
nav{
	text-align: right;
	margin-top: 5px;
	font-weight: bold;
	font-family: arial;
	font-size: 1.6rem;
	margin-right: 2%;
	word-spacing: 5px;	
}
.acesso-adm{
	text-align: end;
}
a{
	text-decoration: none;
	color: #fff;
	transition: all 300ms ease-in-out;
}
a:hover{
	color: #C0C0C0;
}	
label{
	font-family: arial;
	font-size: 1.4rem;
	font-weight: bold;
	margin-left: 3%;
}
.link{
	font-family: arial;
	font-size: 1.4rem;
	margin-left: 3%;
	border-radius: 10px;
	padding: 8px;
	background-color: #2E8B57;
}
.resultados{
	font-family: arial;
	font-size: 1.6rem;
	margin-left: 3%;
	font-weight: bold;
}
img{
	width: 80%;
	height: 80%;
}
img:hover{
	transform: scale(1.1);
	border: solid #2E8B57;
	border-radius: 10px;
}
.col-wrapper {
	display: flex;
	width: 99%;
  }
.col {
	width: 50%;

}

.sair{
	text-align: right;
}
.sair:hover{
	color: #C0C0C0;
	transition: all 300ms ease-in-out;
	cursor: pointer;
}

